{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Data Visualisation - Dashboard</title>

    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

    <script>
        document.addEventListener('keydown', handleKeyDown);
document.addEventListener('keyup', handleKeyUp);

let spacebarPressedTime;
let timeoutId;
let savedState;

function handleKeyDown(event) {
    if (event.code === 'Space' && !timeoutId) {
        spacebarPressedTime = new Date();
        timeoutId = setTimeout(toggleState, 2000);
    }
}

function handleKeyUp(event) {
    if (event.code === 'Space') {
        clearTimeout(timeoutId);
        timeoutId = null;
    }
}

function toggleState() {
    const audioOn = document.getElementById('audioOn');
    const audioOff = document.getElementById('audioOff');
    savedState = getCookie('toggleState');

    if (new Date() - spacebarPressedTime >= 2000) {

        if (savedState === 'off') {
            audioOn.play();
            setCookie('toggleState', 'on', 7);
        } else {
            audioOff.play();
            setCookie('toggleState', 'off', 7);
        }
    }

    timeoutId = null;
}

function setCookie(name, value, days) {
    var expires = "";
    if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
        expires = "; expires=" + date.toUTCString();
    }
    document.cookie = name + "=" + (value || "")  + expires + "; path=/";
}

function getCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1,c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
}

// Play the audio based on the cookie value when the page loads
window.onload = () => {
    savedState = getCookie('toggleState');
    const audioOn = document.getElementById('audioOn');

    if (savedState === 'on') {
        audioOn.play();
    }
}
    </script>

</head>

<body id="page-top" style="overflow: hidden">

<div id="wrapper">
    {% include 'partials/_sidebar.html' %}

    <div id="content-wrapper" class="d-flex flex-column" style="overflow: hidden">
        <div id="content">
            <iframe id="logo" src="logo" frameBorder="0" width="100%" height="100%" style="overflow: hidden" allow="autoplay"></iframe>
        </div>
        <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
    <audio id="audioOn" src="{% static 'audio/Synthesis_on.mp3' %}"></audio>
    <audio id="audioOff" src="{% static 'audio/Synthesis_off.mp3' %}"></audio>
<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static '' %}vendor/datatables/jquery.dataTables.min.js"></script>
<script src="{% static '' %}vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>

</body>

</html>